.bgHelp {
  background-color: #f94706;
}
.help {
  height: 32px;
}
.fz {
  font-weight: 700;
  font-size: 12px;
  line-height: 1.6rem;
  font-family: inherit;
}
.bg {
  background-color: #f94706;
}
.sizeLogo {
  height: 64px;
}
.sizeAbout {
  height: 48px;
}
.logOut {
  justify-content: space-between !important;
}
/* .modall {
  position: fixed;
  top: 60px;
  z-index: 1055;
  display: none;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
  left: auto !important ;
  top: 60px !important;
  width: 300px !important;
} */
.logOut {
  justify-content: space-between !important;
}
.modall {
  left: auto !important ;
  top: 20px !important;
  width: 300px !important;
}
.cart {
  position: relative;
}
.numberCart {
  position: absolute;
  width: 15px;
  height: 15px;
  margin: auto;
  left: 15px;
  top: -2px;
  z-index: 999;
  background-color: #fff;
  color: #f94706;
  font-weight: bold;
  border-radius: 100%;
  font-size: 12px;
}
.iconOnSmartPhone {
  width: 30px;
  height: 30px;
}
