.bgDetail {
  background-color: #f2f3f4;
}
.iconShop {
  width: 55px;
  height: 20px;
}
.count{
    width: 40px;
    height: 32px;
}
.moTa{
  width: 100%;
  word-break: break-all;

}
.iconForYou{
  width: 25px;
  height: 22px;
 margin-bottom: 15px;
}

